.logo-container{
    /* height:var(--nav-height); */
    max-height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80px;
}

.logo-container >*{
    /* border:1px solid red; */
}

.logo-container img{
    height:100%;
}

@media only screen and (min-width : 1000px){
    .logo-container{
        justify-content: flex-start;
    }
}