.profilepage-container{
    display:flex;
    flex-direction: column;
    gap:2em;
    /* background:var(--white); */
}

.profilepage-container >*{
    padding:1em;
    background:var(--white);
}

@media only screen and (min-width : 900px){
    .profilepage-container{
        display:grid;
        gap:1em;
        grid-template-columns: 300px 1fr;
    }
    .profilepage-container >*{
        align-self:flex-start;
        min-height:calc(100vh - var(--nav-height) - 2em);
    }
}

