.otp-verify-container{
    display:flex;
    flex-direction: column;
    gap:1em;
    width:100%;
    justify-content: center;
    max-width:400px;
}

.otp-verify-container .illustration{
    width:300px;
    margin-inline:auto;
    margin-bottom:-2em;
}

.otp-verify-container >*{
    text-align: center;
}

.otp-verify-container .title{
    margin-bottom:.5em;
}

.otp-verify-container p{
    width:100%;
    max-width:450px;
    line-height:1.5;
    color:var(--gray-text);
}

.otp-verify-container button{
    margin-top:1em;
}

.otp-verify-container .guides{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:.5em;
    margin:1em 0;
    color:var(--gray-text);
}
.otp-verify-container .guides li{
    display:flex;
    align-items: center;
}

.otp-verify-container .guides li:before{
    content : "-";
    margin-right:1em;
}


.otp-verify-container .guides li >*{
    margin-left:.5em;
}

.otp-verify-container svg{
    font-size:var(--fs-m);
}

.otp-verify-container form{
    display:flex;
    flex-direction: column;
    gap:1em;
}


.otp-verify-container form input{
    width:100%;
}

.otp-verify-container form > div{
    /* display:flex; */
    gap:1em;
    /* border:1px solid red; */
}