.auth-info-left{
}

.auth-info-left >*{
    width : 90%;
    margin-inline:auto;
    max-width : 500px;
    /* border:1px solid red; */
    display:flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
}

.auth-info-left .illustration{
    display:none;
}

@media only screen and (min-width : 1000px){
    .auth-info-left{
        display:flex;
        flex-direction: column;
    }
    
    .auth-info-left .illustration{
        display:block;
        margin-top:auto;
        margin-bottom:auto;
        transform:translateY(-15%);
    }

    .auth-info-left >*{
        margin-right:4em;
        align-items: unset;
    }
}