body{
    --fs-s  : .9rem;
    --fs-n  : 1rem;
    --fs-m  : 1.2rem;
    --fs-l  : 1.5rem;
    --fs-xl : 2rem;

    --primary : #228BE6;
    --primary-light : #228be625;
    --danger : rgb(255, 0, 0);
    --light-gray : rgb(243, 243, 243);
    --gray-text:rgb(105, 105, 105);
    --white : white;

    --mobile-sidebar-width : 340px;
    --nav-height:9vh;
    /* --nav-bg:#F5F4F5; */

    /* background : #f9f9f9; */
    background : #e8e8e86a;

    font-family: Arial, Helvetica, sans-serif;

}

.mantine-12sbrde{
    /* position:unset !important; */
}

li{
    list-style: none;
}

small{
    font-size:var(--fs-s);
}

.wrapper{
    width : 95%;
    margin-inline:auto;
    max-width:1920px;
}

@media only screen and (min-width : 800px){
    *{
        --mobile-sidebar-width : 300px;
    }
    .wrapper{
        width : 90%;
    }
}

.seperator{
    width:4px !important;
    background:var(--light-gray);
    border-radius:5em;
}

.bordered{
    border:1px solid #ddd;
}

hr{
    border-bottom:0px solid var(--gray-text);
    background:var(--gray-text);
    opacity:.6;
}