.nav-container{
    background:white;
    position:sticky;
    top:0;
    min-height:var(--nav-height);
    display:grid;
    place-items:center;
    border-bottom:1px solid #ddd;
    z-index:3;
}

.nav-container nav .logo .logo-container{
    grid-area:logo;
    justify-content: flex-start;
}

.nav-container nav .small-things{
    grid-area:small-things;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container nav{
    display:flex;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding:0 0 1em;
    display:grid;
    grid-template-areas: "logo small-things"
                            "search-bar search-bar";
    gap:1em;
    position:relative;
}

.nav-container nav .nav-right-container{
    width : 100%;
    display:flex;
    align-items: center;
    grid-area:search-bar;
    gap:1em;
    /* border:1px solid red; */
}

.nav-container nav button.burger{
    background:none;
    height:100%;
    font-size:var(--fs-xl);
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    opacity:.8;
}

.nav-container nav button.burger svg{
    pointer-events: none;
}

.nav-container nav .small-things{
    gap:1em;
    display:flex;
    
}

.nav-container nav .small-things,
.nav-container nav .small-things >*{
}


.nav-container nav .small-things .add-product-icon svg{
    font-size:var(--fs-m);
}

.nav-container nav .small-things img{
}

.nav-container nav .small-things img{
}

.nav-container nav .small-things .profile-icon label{
    display:flex;
    align-items: center;
    gap:.4em;
    /* padding:.4em 1em; */
    border-radius:5px;
    cursor: pointer;
    position:relative;
    text-transform: capitalize;
    /* width:calc(200px + 1em); */
}

.nav-container nav .small-things .profile-icon label svg{
    margin-left:auto;
}

.nav-container nav .small-things .profile-icon label span{
    color:var(--gray-text);
    display:none;
}

.nav-container nav .small-things .profile-icon{
    position:relative;
    user-select: none;
    justify-content: space-between;
    display: flex;
}

.profile-icon .image{
    cursor: pointer;
}

/* .profile-icon__menu{
    position:absolute;
    top:130%;
    right:0em;
    background:white;
    display:flex;
    flex-direction: column;
    padding:.5em;
    border-radius:5px;
    cursor: pointer;
    visibility: hidden;
    z-index:1000;
} */

.profile-icon__menu{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:var(--white);
    box-shadow:0 -2px 10px #ddd;
    padding-top:1em;
    visibility: hidden;
}

.profile-icon__menu.open{
    animation:appear 100ms ease forwards;
}

@keyframes appear {
    0%{
        visibility: visible;
        transform:translateY(100%)
    }
    100%{
        visibility: visible;
        transform:translateY(0);
    }
}

.profile-icon__menu >*{
    height:44px;
    min-width:200px;
    padding:0 1em;
    white-space: nowrap;
    border-radius:3px;
    display: flex;
    align-items: center;
    gap:1em;
    z-index:900;
    color:var(--gray-text);
    text-transform: capitalize;
    transition:color 100ms ease;
    font-size:var(--fs-n);
}

.profile-icon__menu >* >*{
}

.profile-icon__menu svg{
    font-size:var(--fs-l);
}

.profile-icon__menu > .active{
    /* background:var(--primary);
    color:white; */
}

.profile-icon__menu  span,
.profile-icon__menu  svg{
    pointer-events: none;
}

.profile-icon__menu .hover-active-indicator{
    background:var(--primary);
    transform:translateY(0);
    /* visibility: hidden; */
    position:absolute;
    display: none;
    transition : transform 100ms cubic-bezier(0, 0, 0.58, 1) 0s;
    z-index:800;
}

.profile-icon__menu >*:hover{
    /* color:white; */
}

.global-msg{
    position:sticky;
    top:var(--nav-height);
    z-index:2;
    display:flex;
}

.global-msg.urgent{
    background:var(--urgent-bg);
    color:var(--urgent-color);
}


@media only screen and (min-width : 700px){
    .nav-container nav .small-things .profile-icon label span{
        display:block;
    }
}

@media only screen and (min-width : 900px){
    .nav-container nav{
        grid-template-areas: "logo search-bar search-bar small-things";
        padding:0;
    }

    .nav-container nav>*{
        /* border:1px solid red; */
    }

    .nav-container nav .nav-right-container{
        justify-content: center;
    }

    .nav-container nav .small-things{
        justify-content: flex-end;
        align-items: center;
    }

    @keyframes appear {
        0%{
            visibility: visible;
            transform:translateY(-20px)
        }
        100%{
            visibility: visible;
            transform:translateY(0);
        }
    }

    .profile-icon__menu{
        position:absolute;
        top:130%;
        right:0em;
        padding:.5em;
        border-radius:5px;
        cursor: pointer;
        visibility: hidden;
        z-index:1000;
        width:unset;
        left:unset;
        bottom:unset;
    }

    .profile-icon__menu .hover-active-indicator{
        display: none;
    }
}

@media only screen and (min-width : 1000px){
    .nav-container nav button.burger{
        display:none;
    }
}
