.nav-container{
    background:white;
    position:sticky;
    top:0;
    min-height:var(--nav-height);
    display:grid;
    place-items:center;
    border-bottom:1px solid #ddd;
    z-index:999;
}

.nav-container nav .logo .logo-container{
    grid-area:logo;
    justify-content: flex-start;
}

.nav-container nav .small-things{
    grid-area:small-things;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-container nav{
    display:flex;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding:0 0 1em;
    display:grid;
    grid-template-areas: "logo small-things"
                            "search-bar search-bar";
    gap:1em;
}

.nav-container nav .nav-right-container{
    width : 100%;
    display:flex;
    align-items: center;
    grid-area:search-bar;
    gap:1em;
    /* border:1px solid red; */
}

.nav-container nav button.burger{
    background:none;
    height:100%;
    font-size:var(--fs-xl);
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    opacity:.8;
}

.nav-container nav button.burger svg{
    pointer-events: none;
}

.nav-container nav .small-things{
    gap:.4em;
    /* border:1px solid red; */
    display:flex;
    justify-content: flex-end;
}

.nav-container nav .small-things,
.nav-container nav .small-things >*{
    /* border:1px solid red; */
}

.nav-container nav .small-things .add-product-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    /* background:white; */
    box-shadow:0px 1px 10px var(--light-gray);
    font-size:var(--fs-m);
    background:var(--primary);
    height:35px;
    width:35px;
    cursor: pointer;
}

.nav-container nav .small-things img{
    /* height:30px;
    width:30px; */
}

.nav-container nav .small-things img{
    border-radius:50%;
    object-fit: cover;
}

.nav-container nav .small-things .profile-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:.5em;
    padding:.4em 1em;
    border-radius:5px;
    cursor: pointer;
    position:relative;
}

.profile-icon{
}

.profile-icon .image{
    cursor: pointer;
}

.profile-icon__menu{
    position:absolute;
    top:100%;
    right:50%;
    background:white;
    display:flex;
    flex-direction: column;
    padding:.5em;
    border-radius:5px;
    cursor: pointer;
    visibility: hidden;
}

/* .profile-icon__menu:before{
    content : "";
    position:fixed;
    height:100vh;
    width:100vw;
    left:0;
    top:0;
    background:rgba(0,0,0,.5);
} */

.profile-icon__menu.open{
    animation:appear 100ms ease forwards;
}

@keyframes appear {
    0%{
        visibility: visible;
        transform:translateY(-20px)
    }
    100%{
        visibility: visible;
        transform:translateY(0);
    }
}

.profile-icon__menu >*{
    height:44px;
    min-width:200px;
    padding:0 1em;
    white-space: nowrap;
    border-radius:3px;
    display: flex;
    align-items: center;
    gap:1em;
    z-index:900;
    color:var(--gray-text);
    text-transform: capitalize;
    transition:color 100ms ease;
    font-size:var(--fs-n);
}

.profile-icon__menu >* >*{
}

.profile-icon__menu svg{
    font-size:var(--fs-l);
}

.profile-icon__menu > .active{
    color:white;
}

.profile-icon__menu >* span,
.profile-icon__menu >* svg{
    pointer-events: none;
}

.profile-icon__menu .hover-active-indicator{
    background:var(--primary);
    transform:translateY(0);
    /* visibility: hidden; */
    position:absolute;
    transition : transform 100ms cubic-bezier(0, 0, 0.58, 1) 0s
}

.profile-icon__menu >*:hover{
    /* color:white; */
}


@media only screen and (min-width : 900px){
    .nav-container nav{
        grid-template-areas: "logo search-bar search-bar small-things";
        padding:0;
    }

    .nav-container nav>*{
        /* border:1px solid red; */
    }

    .nav-container nav .nav-right-container{
        justify-content: center;
    }

    .nav-container nav .small-things{
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (min-width : 1000px){
    .nav-container nav button.burger{
        display:none;
    }
}
