.productimagearea-container{
    display:flex;
    flex-direction: column;
    gap:1em;
    /* background:var(--white); */
    /* border:1px solid red; */
    /* position:sticky;
    top:calc(var(--nav-height) + 1em);
    align-self:start; */
}

.productimagearea-container .action-btns{
    margin-top:1em;
}